html, body {
  height: 100%;
  margin: 0; padding: 0;
  }
  body {
    display : table;
    width: 100%;
    background-image:url('homepage.jpg');
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    opacity: 0.9;
    }

  #gamescore {
    margin-top:100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 1px solid white;
    background: black;
  }
  #p1
  {
	font-family: 'Bungee Hairline', cursive;
        font-family: 'Bungee Inline', cursive;
        font-size: 19px;
        color:red;
	position:absolute;
        left:100px;
	top:200px;
  }
    #p2
  {
	font-family: 'Bungee Hairline', cursive;
        font-family: 'Bungee Inline', cursive;
        font-size: 19px;
        color:red;
	position:absolute;
	left:100px;
	top:220px;
  }
  #score
  {
    color:yellow;
    position:absolute;
	left:155px;
	top:200px;
  }
  #high
  {
    color:yellow;
    position:absolute;
	left:195px;
	top:220px;
  }
  
header{
    background-color: #353b48;
    height: 50px;
    box-shadow: 1px 5px 10px 1px;
    }
h1{
    font-size: 24px;
    color: #2ecc71;
    font-weight : bold;
    }
#titre{
    font-family: 'Bungee Hairline', cursive;
    font-family: 'Bungee Inline', cursive;
    margin: 0px 0px 0px 50%;
    padding-top: 1%;
    }
