html, body {
    height: 100%; /* hauteur de la page*/
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100%;
    background-image: url('homepage.jpg'); /*  mise de l'image en background*/
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    opacity: 0.9;
}

#gamescore {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center; /* centrer la zone de jeu sur la page */
}

canvas {
    border: 1px solid white; /* ajout d'un bord blanc sur la zone de jeu  */
    background: black;
}

#p1 {
    font-family: 'Bungee Inline', cursive;
    font-size: 19px;
    color: red;
    position: absolute;
    left: 100px;
    top: 200px;
}

#p2 {
    font-family: 'Bungee Inline', cursive;
    font-size: 19px;
    color: red;
    position: absolute;
    left: 100px;
    top: 220px;
}

#score {
    color: yellow;
    position: absolute;
    left: 245px;
    top: 205px;
}

#high {
    color: yellow;
    position: absolute;
    left: 245px;
    top: 225px;
}

header {
    background-color: #353b48;
    height: 50px;
    box-shadow: 1px 5px 10px 1px;
}

h1 {
    font-size: 24px;
    color: #2ecc71;
    font-weight: bold;
}

#titre {
    font-family: 'Bungee Inline', cursive;
    margin: 0 0 0 50%;
    padding-top: 1%;
}
